@tailwind base;
@tailwind components;
@tailwind utilities;


.landingPageHero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

#quick-pick-info-container {
    height: 400px;
}

#flyShannonLogo {
    max-width: 300px;
}

.landing-page-box-test {
    position: relative;
    height: 500px;
    width: 350px;
    border: black;
}

.landing-page-box-test img {
    position: absolute;
    height: 250px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    right: -40px;
}

.landing-page-box-test p {
    margin-top: 150px;
}

.landing-page-box {
    border-radius: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px 30px;
    position: relative;
    color: black;
    --tw-border-opacity: 1;
}

.landing-page-box h1 {
    font-size: 60px;
    margin-top: 80px;
    line-height: 1;
}

.landing-page-box img{
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    left: 40px;
}

.low-opacity-bg-image {
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    isolation: isolate;
    min-height: 800px;
}

.low-opacity-bg-image::after {
    content: '';
    position: absolute;
    background: grey;
    inset: 0;
    z-index: -1;
    opacity: 0.7;
}

.formRow {
    width: 80%;
}

#entry-form-container {
    background-color: #F1EEDF;
}

.custom-bg-color {
    background-color: #F1EEDF;
}

.custom-bg-orange {
    background-color: #FEC051;
    color: black;
    --tw-border-opacity: 1;
    border-color: #F48142;
    border-radius: 15px;
}

.events-table-p {
    border-bottom: 1px solid black;
    padding: 5px;
}

.custom-orange-text {
    color: #F48142;
}

.custom-red-text {
    color: #CB3057;
}

.custom-bg-red-color {
    background-color: #CB3057;
}

.custom-bg-red {
    background: rgb(244,129,66);
    background: radial-gradient(circle, rgba(244,129,66,1) 0%, rgba(244,90,128,1) 100%);
}

.custom-alert-box {
    width: 330px;
    height: 200px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px 30px;
    position: relative;
    background-color: #FEC051;
    color: black;
    --tw-border-opacity: 1;
    border-color: #F48142;
}

.custom-alert-box-large {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px 30px;
    position: relative;
    background-color: #FEC051;
    color: black;
    --tw-border-opacity: 1;
    border-color: #F48142;
}

.custom-alert-box-large h1 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
    line-height: 1;
}

.custom-alert-box-large img{
    height: 220px;
    width: 220px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    right: 20px;
}


.custom-alert-box h1 {
    font-size: 20px;
    margin-top: 20px;
}

.custom-alert-box img{
    height: 90px;
    width: 90px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}

.custom-alert-box #cute-chimp {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 20px;
}

.custom-alert-box #irish-chimp {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 200px
}

.custom-alert-box #scientist-chimp {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 20px
}

.custom-alert-box #golfing-chimp {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 20px
}

.custom-alert-box #winner-chimp {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 20px;
}

.custom-alert-box #gorilla-coach-img {
    height: 120px;
    width: 120px;
    top: -50px;
    left: 20px;
}

.custom-alert-box p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.orange-border {
    border-color: #F48142;
}

.blue-bg {
    background-color: #E0F4FD;
}

.eggshell-bg {
    background-color: #F1EEDF;
}

.edit-field-button {
    background-color: #CB3057;
}

#jackpot-image {
    display: inline-block;
    height: 50px;
    width: 50px;
}

#landingPageBody {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .custom-alert-box-large {
        width: 250px;
        height: 280px;
        border-radius: 15px;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 10px 20px;
        position: relative;
        background-color: #FEC051;
        color: black;
        --tw-border-opacity: 1;
        border-color: #F48142;
    }
    
    .custom-alert-box-large h1 {
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 10px;
        line-height: 1;
    }
    
    .custom-alert-box-large img{
        height: 140px;
        width: 140px;
        border: 2px solid #000;
        border-radius: 50%;
        position: absolute;
        top: -80px;
        right: 20px;
    }
}

#introduction > p {
    line-height: 1px;
}

#custom-red-button {
    background-color: #CB3057;
}